
@{
    ViewBag.Title = "CreateSkill";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2>CreateSkill</h2>

<form method="post">
    <label>Yetenek Başlık</label>
    <input type="text" name="Title" class="form-control"/> 
    <label>İcon</label>
    <input type="text" name="Icon" class="form-control"/> 
    <label>Yetenek Değer</label>
    <input type="text" name="Value" class="form-control"/> 
   
    <button class="btn btn-success">Ekle</button>
</form>