
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h3 class="alert alert-info">Yeni Kategori Ekleme</h3>

<div class="container">
    <label>kategori Adı</label>
    <input type="text" class="form-control" /><br />
    <label>Kategori Açıklaması</label>
    <input type="text" class="form-control" /><br />
    <label>Kategori Değeri</label>
    <input type="text" class="form-control" /><br />
    <button class="btn btn-primary">Create Category</button>

</div>

